{% extends 'base.html' %}

{% block content %}
<div class="content">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
      <th scope="col">ISBN</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.isbn }}</td>
      <td><a href="{{ url_for('books.single', id=book.id) }}">details</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
